<a href="https://colab.research.google.com/github/RiquelmyDev/RiquelmyDev/blob/main/introducao_ao_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **FUNDAMENTOS DE PYTHON**

In [ ]:
print ("introdução ao google colab")

introdução ao google colab

# **VARIÁVEIS E TIPOS DE DADOS**

In [ ]:
name = "Frederick Nitch"
year = 32
higth = 1.88
salary =  1700.60
champions = True

In [ ]:
# não pode se iniciar o nome da variavel com numero
# não pode usar caratcer especial, exceto o (_)
# tambem não pode ter espaços em brancos. usa o _ para dar espaço

In [ ]:
# tipos de dados
user = "josef"
type(user)

str

# ***SAÍDA DE DADOS***

In [ ]:
print("Um tipo de saída de dados")
print(3333)

Um tipo de saída de dados
3333

In [ ]:
email = ("riquellmysoares@gmail.com")
idade = 14
altura = 1.70

print("Seu email é : " , email , ", e sua idade é :  " ,  idade , ", e sua altura é : ", altura)

Seu email é :  riquellmysoares@gmail.com , e sua idade é :   14 , e sua altura é :  1.7

In [ ]:
# parametro sep
print ("Dia", "uva", "banana", sep=".")
#define qual vai ser o separador, por padrão é um espaço

Dia.uva.banana

In [ ]:
dia = 15
mes = 12
ano = 2025
print(dia, mes, ano , sep="/")

15/12/2025

In [ ]:
#parametro end

print("Coronel Fabriciano")
print("Minas gerais")
print("brasil")
#por padrao, paraemtro vem com um (end=\n)
#esse ( \n ) obriga o print pular um linha, mas tambem podemos modificar ele.

Coronel Fabriciano
Minas gerais
brasil

In [ ]:
#utilizando o end
print("Coronel Fabriciano", end=", ")
print("Minas gerais", end=", ")
print("brasil")

Coronel Fabriciano, Minas gerais, brasil

# **ENTRADA DE DADOS EM PYTHON**

In [ ]:
#COMANDO INPUT PARA ENTRADA DE DADOS
name = input("Enter your name: ")
print(name)

KeyboardInterrupt: Interrupted by user

In [ ]:
# recebendo variavel str, e convertendo para int

age = input("enter your age: ")
type(age)

In [ ]:
# convertendo STR para INT

age = int(input("enter your age: "))
type(age)

# **OPERADORES ARITIMETICOS**

In [ ]:
#soma
a = 10
b = 5
c = 50
soma = a + b + c
print(soma)

In [ ]:
#subtração

a = 10
b = 5
c = 50
sub = a - b - c
print(sub)

In [ ]:
#mult

a = 10
b = 10
c = 2
mult = a * b * c
print(mult)

In [ ]:
#divisao

a = 100
b = 5
div = a / b
print(div)

In [ ]:
# divisão inteira

a = 100
b = 5
div2 = a // b
print(div2)

In [ ]:
#operador de potencia

a = 2
b = 3

pot = a**b
print(pot)

In [ ]:
# Operador modulo (resto da divisão)
a = 10
b = 6

resto = a % b
print(resto)

# **OPERADORES LOGICOS**

são utilizados para conectar duas ou mais expressões boleanas, ou seja, expressões que retornam true ou false. o resultado final será um valor booleano

In [ ]:
#operador E (and) (as duas expressões precisam ser verdade, para ser True)

idade = 25
tem_carteira = True

idade >= 18 and tem_carteira

In [ ]:
from logging import fatal
# operador OU, precisa que uma das expressões seja verdadeira,
#para todo resto tambem ser verdade
tem_ingresso = False
nome_na_lista = True

tem_ingresso or nome_na_lista

In [ ]:
#OPERADOR NAO

logado =  False

not logado

In [ ]:
#PRIORIDADE DOS OPERADORES

"""
primeiro vai ser executado oque estiver em = ()
se não:
1 not
2 and
3 or
"""

In [ ]:
a = True
b = False
c = True

resultado = not a or b and c
print(resultado)

In [ ]:
# Pessoas que moram em são paulo ou que são maiores de 18 anos
cidade = "São Paulo"
idade = 25

cidade == "São Paulo" and idade >= 18

# **operadores de atribuição**

In [ ]:
#atribuição com soma

qtd = 5

qtd += 3

"""
qtd = qtd + 3
print(qtd)"""

In [ ]:
#ptencia

qtd = 4
qtd **= 3
print(qtd)

In [ ]:
#resto da divisão

qtd = 10

qtd %= 3
print(qtd)

# **ESTRUTURAS CONDICIONAIS**

In [ ]:
name = input("Enter your name: ")
age = int(input("How old are you? "))
height = float(input("How tall are you? "))

if age >= 18 and height >= 1.90:
    print("Okay, " , name , "DO you want to be a basketball player?")
elif age >= 18:
  print("okay, " , name, "let's choose sport for you!")
else:
  print("We'll wait until you're odler and of legal age")

Enter your name: riquelmy
How old are you? 19
How tall are you? 1.91
Okay,  riquelmy DO you want to be a basketball player?

# **LAÇOS DE REPETIÇÃO FOR**

FOR É UMA ESTRUTURA DE REPETIÇÃO USADA PARA PERCORRER UMA SEQUENCIA DE DADOS COMO LISTAS, STRINGS INTERVALOS NUMERICOS, ENTRE OUTROS

In [ ]:
# UTILIZANDO FOR COM STRINGS

for x in "Python para dados":
    print(x)

In [ ]:
# EXEMPLO EM LISTAS

nomes = ["Joana", "Maria", "Josefa", "Mariana", "Geralda"]

for i in nomes:
    print(i)

In [ ]:
# for para numericos (for in range) regras a baixo:

"""
for i in range(inicio, fim, passo)

1) for i in range (fim) - declara que inicia em 0, e o valor é o fim
2) for i in range (inicio, fim) - declara que inicia em inicio, e o valor é o fim
3) for i in range (inicio, fim, passo) - declara que inicia em inicio, e o valor é o fim, e o passo

"""

In [ ]:
for i in range(11):
    print(i)

In [ ]:
for x in range (2, 21):
    print(x)

In [ ]:
for j in range(0, 22, 3):
    print(j)

In [ ]:
for i in range(1,10):
    print(i)
else:
    print("Fim da execução do for")

1
2
3
4
5
6
7
8
9
Fim da execução do for

# **WHile**

é uma estrutura de um laço de repetição, que continua executando um bloco de codigo enquanto a condição definifa for verdadeira

assim que a condição se torna falsa, O LOOP para automaticamente.

In [ ]:
#Sintaxe while

"""
while condição: (enquanto for verdadeiro)
    bloco de codigo
"""

In [ ]:
i = 1

while i <= 10:
    print("contagem: ", i)
    i += 1

In [ ]:
senha = input("Digite sua senha: ")

while senha != "python":
    senha = input("Senha incorreta! Tente novamente: ")
print("Senha correta! Acesso liberado!!")

Digite sua senha: ss
Senha incorreta! Tente novamente: ss
Senha incorreta! Tente novamente: ss
Senha incorreta! Tente novamente: python
Senha correta! Acesso liberado!!

In [ ]:
numero = int(input("Digite um numero entre 1 e 10: "))

while numero < 1 or numero > 10:
    int(input ("Numero invalido, tente novamente: "))
print(numero)

Digite um numero entre 1 e 10: 10
10

# **WHILE TRUE**

In [ ]:

password = input("Enter your password: ")

while True:
    confirm_password = input("Confirm your password: ")

    if confirm_password == password:
        print("Password is okay, register!")
        break
    else:
        print("Passwords do not match, try again.")

In [ ]:
i = 1

while i < 10:
    print(i)
    if i == 3:
      break
    i += 1

1
2
3

In [ ]:
# continue (com exceção de: )

x = 0

while x < 21:
    x += 1
    if x == 10:
        continue
    else:
        print(x)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20
21

# **STRINGS**

In [ ]:
# TAMANHO DE UMA STRING

name = ("Lionel Messi")
print(len(name))

12

In [ ]:
#Operador IN- verifica a existencia de um caratcer e retorna um booleano
print("onel" in name)

True

In [ ]:
# not in - verifica se nao tem
print("bmw" not in name)

True

In [ ]:
# cadeia de caratres = String é imutavel
texto = "Python"

texto = "Java"

In [ ]:
print(name)
name = "lionel messi"
name = name.capitalize()
print(name)

# todas as letars em maiusculo
fruta = "laranja"
fruta = fruta.upper()
print(fruta)

fruta2 = "MORANGO"
fruta2 = fruta2.lower()
print(fruta2)

Lionel messi
Lionel messi
LARANJA
morango

# **Metodos em Sring**

In [ ]:
# CONTAR QUANTAS VEZES UM CARACTER APARECE EM UMA STRING

email = "lionelmessi@email.com"
print(email.count("ssi"))

1

In [ ]:
# metodo para mostrar a posição do caracter
print(email.find("@"))

11

In [ ]:
# metodo para verificar se uma string comeca com um carxter, ou uma seq espesifica
print(email.startswith("lionel"))

True

In [ ]:
# verifica se termina com sequencia de caractres
print(email.endswith("com"))

True

In [ ]:
# metodo para verificar se o conteudo da string é numerico
cpf = "1233443344"
type(cpf)
print(cpf.isnumeric())

True

In [ ]:
# metodo para verificar se o conteúdo da string é apenas letras
print(email.isalpha())

False

In [ ]:
# verificar se o conteudo da string é uma combinação de lestras e numero

animal = "cachorro2"
print(animal.isalnum())

True

In [ ]:
animal = ("     cachorro")
print(animal)
print(len(animal))

animal = animal.strip()
print(animal)
print(len(animal))

     cachorro
13
cachorro
8

In [ ]:
# metodo para subistituir um texto por outro

transporte = "onibus"
print(transporte)

transporte = transporte.replace("o", "O")
print(transporte)

onibus
Onibus

In [ ]:
# metodo para cortar uma string com determinado delimitador
nome_completo = "Lionel Andress Ciutatini Messi"

print(nome_completo)

nome_completo = nome_completo.split()
print(nome_completo)


nome_completo = "Lionel Andress Ciutatini,Messi"

Lionel Andress Ciutatini Messi
['Lionel', 'Andress', 'Ciutatini', 'Messi']