<a href="https://colab.research.google.com/github/RiquelmyDev/RiquelmyDev/blob/main/introducao_ao_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **FUNDAMENTOS DE PYTHON**

In [4]:
print ("introdução ao google colab")

introdução ao google colab

# **VARIÁVEIS E TIPOS DE DADOS**

In [5]:
name = "Frederick Nitch"
year = 32
higth = 1.88
salary =  1700.60
champions = True

In [6]:
# não pode se iniciar o nome da variavel com numero
# não pode usar caratcer especial, exceto o (_)
# tambem não pode ter espaços em brancos. usa o _ para dar espaço

In [7]:
# tipos de dados
user = "josef"
type(user)

str

# ***SAÍDA DE DADOS***

In [8]:
print("Um tipo de saída de dados")
print(3333)

Um tipo de saída de dados
3333

In [9]:
email = ("riquellmysoares@gmail.com")
idade = 14
altura = 1.70

print("Seu email é : " , email , ", e sua idade é :  " ,  idade , ", e sua altura é : ", altura)

Seu email é :  riquellmysoares@gmail.com , e sua idade é :   14 , e sua altura é :  1.7

In [10]:
# parametro sep
print ("Dia", "uva", "banana", sep=".")
#define qual vai ser o separador, por padrão é um espaço

Dia.uva.banana

In [11]:
dia = 15
mes = 12
ano = 2025
print(dia, mes, ano , sep="/")

15/12/2025

In [12]:
#parametro end

print("Coronel Fabriciano")
print("Minas gerais")
print("brasil")
#por padrao, paraemtro vem com um (end=\n)
#esse ( \n ) obriga o print pular um linha, mas tambem podemos modificar ele.

Coronel Fabriciano
Minas gerais
brasil

In [13]:
#utilizando o end
print("Coronel Fabriciano", end=", ")
print("Minas gerais", end=", ")
print("brasil")

Coronel Fabriciano, Minas gerais, brasil

# **ENTRADA DE DADOS EM PYTHON**

In [14]:
#COMANDO INPUT PARA ENTRADA DE DADOS
name = input("Enter your name: ")
print(name)

KeyboardInterrupt: Interrupted by user

In [ ]:
# recebendo variavel str, e convertendo para int

age = input("enter your age: ")
type(age)

In [ ]:
# convertendo STR para INT

age = int(input("enter your age: "))
type(age)

# **OPERADORES ARITIMETICOS**

In [ ]:
#soma
a = 10
b = 5
c = 50
soma = a + b + c
print(soma)

In [ ]:
#subtração

a = 10
b = 5
c = 50
sub = a - b - c
print(sub)

In [ ]:
#mult

a = 10
b = 10
c = 2
mult = a * b * c
print(mult)

In [ ]:
#divisao

a = 100
b = 5
div = a / b
print(div)

In [ ]:
# divisão inteira

a = 100
b = 5
div2 = a // b
print(div2)

In [ ]:
#operador de potencia

a = 2
b = 3

pot = a**b
print(pot)

In [ ]:
# Operador modulo (resto da divisão)
a = 10
b = 6

resto = a % b
print(resto)

# **OPERADORES LOGICOS**

são utilizados para conectar duas ou mais expressões boleanas, ou seja, expressões que retornam true ou false. o resultado final será um valor booleano

In [ ]:
#operador E (and) (as duas expressões precisam ser verdade, para ser True)

idade = 25
tem_carteira = True

idade >= 18 and tem_carteira

In [ ]:
from logging import fatal
# operador OU, precisa que uma das expressões seja verdadeira,
#para todo resto tambem ser verdade
tem_ingresso = False
nome_na_lista = True

tem_ingresso or nome_na_lista

In [ ]:
#OPERADOR NAO

logado =  False

not logado

In [ ]:
#PRIORIDADE DOS OPERADORES

"""
primeiro vai ser executado oque estiver em = ()
se não:
1 not
2 and
3 or
"""

In [ ]:
a = True
b = False
c = True

resultado = not a or b and c
print(resultado)

In [ ]:
# Pessoas que moram em são paulo ou que são maiores de 18 anos
cidade = "São Paulo"
idade = 25

cidade == "São Paulo" and idade >= 18

# **operadores de atribuição**

In [ ]:
#atribuição com soma

qtd = 5

qtd += 3

"""
qtd = qtd + 3
print(qtd)"""

In [ ]:
#ptencia

qtd = 4
qtd **= 3
print(qtd)

In [ ]:
#resto da divisão

qtd = 10

qtd %= 3
print(qtd)